@import '../auth-shared.scss';


  .forgot-password {
    display: block;
    text-align: left;
    font-size: 12px;
    color: #a0a0a0;
    text-decoration: underline;
    margin-bottom: 20px;
    cursor: pointer;
  }

