<footer class="footer">
  <div class="footer-container">
    <!-- Contact Section -->
    <div class="footer-section">
      <div class="footer-item">
        <img src="assets/icons/Message-square.svg" alt="Chat with Sales" />
        <span>Chat with sales</span>
      </div>
      <div class="footer-item">
        <img src="assets/icons/Phone.svg" alt="Phone" />
        <span>+123456789</span>
      </div>
      <div class="footer-item">
        <img src="assets/icons/Mail.svg" alt="Email" />
        <span>example&#64;email.com</span>
      </div>
    </div>

    <!-- Company Links Section -->
    <div class="footer-section">
      <h4>Company</h4>
      <ul>
        <li>About us</li>
        <li>Careers</li>
        <li>Customer stories</li>
        <li>Legal</li>
      </ul>
    </div>

    <!-- Resources Links Section -->
    <div class="footer-section">
      <h4>Resources</h4>
      <ul>
        <li>Blog</li>
        <li>eBooks</li>
        <li>Knowledge Base</li>
        <li>Strategic Partners</li>
      </ul>
    </div>

    <!-- Social Media Links Section -->
    <div class="footer-section social-media">
      <a href="#">
        <img src="../../assets/icons/Facebook.svg" alt="Facebook" />
      </a>
      <a href="#">
        <img src="assets/icons/Instagram.svg" alt="Instagram" />
      </a>
      <a href="#">
        <img src="assets/icons/Youtube.svg" alt="YouTube" />
      </a>
    </div>
  </div>
</footer>
