.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  background-color: transparent;
  color: white;

  .logo a {
    font-size: 2.2rem;
    font-weight: normal;
    color: white;
    text-decoration: none;
  }

  .nav-links {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 1.5rem;
    font-weight: lighter;

    li a {
      color: white;
      text-decoration: none;
      font-size: 1rem;
    }
  }

  .auth-links {
    display: flex;
    align-items: center;
    gap: 1rem;

    .cart-icon {
      text-decoration: none;
      display: flex;
      align-items: center;
    }

    a {
      color: white;
      text-decoration: none;
      font-size: 1.1rem;
    }
  }
}
