:host {
  display: block;
  min-height: 100vh;
  width: 100%;
  color: white;
  background-image: url('../../../assets/bg-home.png');
  background-size: 100vw 300vh;
  background-position: center center;
  background-repeat: repeat-y;
}
