:host {
  display: block;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  color: white;
  background-image: url('../../../assets/bg-home.png');
  background-size: 100vw 300vh;
  background-position: center center;
  background-repeat: repeat-y;
}

.container{
  padding: 20px 44px;
}

.bg-low-opacity{
  padding: 10px;
  background-color: #FFFFFF20;
  border-radius: 12px;
}
