.support-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  color: white;

  .support-card,
  .faq-card {
    background: #00031E65;
    color: white;
    border-radius: 12px;

    .mat-expansion-panel-header-title{
      color: #f0f0f0;
    }
    mat-card-title {
      font-size: 1.8rem;
      font-weight: bold;
    color: white;
      margin-bottom: 1rem;
    }

    mat-card-content {
      font-size: 1rem;
      line-height: 1.5;
    }
  }

  mat-expansion-panel {
    background: #1E1E1E;

    color: white;
    border-radius: 8px;
    margin: 1rem 0;

    mat-expansion-panel-header {
      font-size: 1.1rem;
      font-weight: bold;
    }
  }
}
