.product-details-container {
  display: grid;
  grid-template-columns: 2fr 4fr;
  gap: 3rem;
  padding: 1rem 0;
  color: white;
  margin-top: 2rem;
  /* Left Section */
  .left-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .back-link {
      font-size: 1.2rem;
      font-weight: normal;
      color: white;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: #ffe59e;
      }
    }

    .product-image-wrapper {
      position: relative;
      width: 100%;
      aspect-ratio: 1 / 1;
      background-color: #00031e39;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px;

      img {
        width: 80%;
        height: auto;
        border-radius: 12px;
      }
    }
  }

  /* Right Section */
  .right-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h1 {
      font-size: 1.3rem;
      font-weight: bold;
      margin:0;
    }

    .category {
      font-size: 1.2rem;
      color: rgba(255, 255, 255, 0.7);
      margin:0;
    }

    .rating {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      .star {
        color: gold;
        font-size: 1.5rem;
        margin-right: 0.2rem;
      }

      .reviews {
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.7);
        margin-left: 0.5rem;
      }
    }

    .description {
      font-size: .7rem;
      line-height: 1.5;
      margin:0;

    }

    .quality-options {
      display: flex;
      gap: 1rem;

      h4 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }

      .quality-button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        color: white;
        background-color: rgba(255, 255, 255, 0.2);
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: rgba(255, 255, 255, 0.4);
        }
      }
    }

    .price {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .add-to-cart-button {
      padding: 0.8rem 1.5rem;
      font-size: 1.2rem;
      color: white;
      background-color: #007bff;
      border: none;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  /* Responsive Design */
  @media (max-width: 768px) {
    grid-template-columns: 1fr; 
    .left-section {
      align-items: center;
    }

    .product-image-wrapper img {
      width: 100%;
    }
  }
}
