<div class="home-container">
  <!-- Hero Section -->
  <section class="hero">
    <div class="row">
      <h1>Express</h1>
      <span class="gap"></span>
      <h1>Yourself</h1>
    </div>
    <div class="row">
      <h1 class="highlight">Through</h1>
      <p class="typing-effect">
        {{ currentQuote }}<span class="cursor"></span>
      </p>
      <h1 class="highlight">Style</h1>
    </div>
  </section>

  <!-- product listing and details / explore categories -->
  <div class="products-section">
    <!-- featured product  -->
    <div class="products-details-categories">
      <div class="featured-product">
        <!-- Container for synchronized fade in/out animation -->
        <div
          class="flex-space-between"
          *ngIf="showFeaturedProduct() && recommendedProduct()"
          @fadeInOut
        >
          <div>
            <h2>{{ recommendedProduct()?.title }}</h2>
            <p class="featured-product-category">
              {{ recommendedProduct()?.category }}
            </p>
          </div>

          <div class="image-decription-wrap">
            <p class="featured-product-description">
              {{ recommendedProduct()?.description }}
            </p>
            <!-- Image with fadeInOut animation and placeholder -->
            <div class="featured-product-image">
              <div class="image-placeholder" *ngIf="!imageLoaded()"></div>
              <img
                *ngIf="recommendedProduct()"
                [src]="recommendedProduct()?.image"
                alt="{{ recommendedProduct()?.title }}"
                (load)="imageLoaded.set(true)"
              />
            </div>
          </div>

          <!-- Title, Category, and Price -->

          <p class="featured-product-price">
            ${{ recommendedProduct()?.price }}
          </p>
        </div>
      </div>

      <!-- Categories Section -->
      <div class="categories">
        <h3>Explore Categories</h3>
        <div class="category-grid">
          <div class="category-card" *ngFor="let category of categories">
            <img src="path/to/category-image" alt="category" />
            <h4>{{ category }}</h4>
          </div>
        </div>
      </div>
    </div>

    <!-- products and search -->
    <div class="products-container">
      <div class="search-bar">
        <input
          type="text"
          placeholder="Search for items..."
          [(ngModel)]="searchTerm"
        />
      </div>
      <div class="product-grid">
        <div *ngFor="let product of filteredProducts()" class="product-card">
          <div class="bg-circle"></div>
          <div class="product-info-row">
            <h3 class="product-title">{{ product.title }}</h3>
            <p class="product-category">{{ product.category }}</p>
          </div>
          <div class="product-image-row">
            <img [src]="product.image" alt="{{ product.title }}" />
          </div>
          <div class="product-price-row">${{ product.price }}</div>
        </div>
      </div>

      <div *ngIf="loading()">Loading...</div>
    </div>
  </div>
</div>
